body {
	font-family: montserrat, sans-serif;
	background: #60a5fa;
	padding-inline-start: 0px;
	padding-inline-end: 0px;
}

.container {
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	padding: 1rem 4rem 2rem 4rem;
	background-color: white;
	border-radius: 2rem;
	text-align: center;
	box-shadow: 10px 10px #00000060, -10px -10px #00000060;
}

.label {
	font-size: 1.2rem;
	padding: 1rem 0rem;
	margin: 1rem 0rem;
}

.button {
	padding: 1rem;
	margin: 1rem 0rem 0rem 0rem;
	background-color: #60a5fa;
	color: white;
	border: 0px;
	border-radius: 1rem;
}

.input {
	border-radius: 1rem;
	padding: 1rem;
	width: 90%;
	border-color: #60a5fa;
}

#outputTxt {
	margin: 2rem 0rem 2rem 0rem;
	font-size: 1.4rem;
}

img {
	margin: 1rem 1rem 1rem 1rem;
	width: 1.8rem;
}

a {
	text-decoration: none;
}

#background-video {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}
